html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #1d1ddd;
}

#wrapper {
  width: 100%;
  height: 100vh;
  background: #1d1ddd;
   /* background-image: url(../img/Hector-berlioz0.xcf);
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

 #main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#content {
  width: 40%;
  background: white;
  border-radius: 15px;
  border: 5px dotted red;
  margin-left: 7%;
  margin-top: 4%;
  padding: 20px;
}

h1 {
  margin: 0;
}

p {
  font-size: 21px;
  line-height: 1.5;
}

#photos {
  width: 40%;
  height: 100%;
  align-self: flex-end;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}

h2 {
  text-align: center;
  margin: 0;
  color: white;
}

#arrows {
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  color: white;
}

.arrow {
  width: 5%;
  height: 100%;
  background: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
  opacity: 0.5;
  cursor: pointer;
  transition: .5s opacity;
}

.arrow:hover {
  opacity: 0.8;
}
